body {
    background-color: white;
    font-family: sans-serif;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100%;
    background-color: white;
    justify-content: center;
    margin: 0 auto;
}

.timer-container {
    width: 50%;
    height: 50%;
    display:flex;
    justify-content: center;
    background-color: #FFCCCB;
}

.time {
    /* display:inline-block; */
    justify-content: center;
    font-size: 280px;
    font-weight: bolder;
    color: white;
}

.buttons-container{
    width:50%;
    height:50%;
}

.butt {
    width:32.9%;
    height:50%;
    font-size: 50px;
}